* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

h1, h2 {
width: 100%;
text-align: center;
}

circle {
  stroke: none;
}

div.tooltip {   
  position: absolute;           
  text-align: center;       
  width: 100px;                  
  height: auto;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: white;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;
}

.invis {
  display: none;
}